@font-face{
    font-family: Font1;
    src: url(fonts/Product\ Sans\ Bold.ttf);
}

@font-face{
    font-family: Font2;
    src: url(fonts/Product\ Sans\ Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #dadada;
    background-image: repeating-linear-gradient(to right, transparent 0px 100px, #999 100px 101px),
        repeating-linear-gradient(to bottom, transparent 0px 100px, #999 100px 101px)
}

/* Main */
#main {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#main::before {
    background: url(images/bg.png);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.slider{
    position: absolute;
    top: 10%;
    left: 50%;
    height: 200px;
    width: 150px;
    transform: translate( -50% , 0%) perspective(1000px) rotateX(-16deg);
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* Animation */
@keyframes rotate{
    form{
        transform: translate( -50% , 0%) perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
    to{
        transform: translate( -50% , 0%) perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.slide {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-origin: center;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(400px);
    /* translateZ end pr ay ga or transform-style: preserve-3d parent div ki property hai */
}

.slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Content */
.content{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    bottom: 0px;
    align-items: center;
}

.content h1{
    font-size: 12vw;
    text-transform: uppercase;
    color: #202535;
    font-weight: bolder;
    position: relative;
    font-family: Font1;
    /* isko z-index nahin dena */
}

.content h1::after{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    /* *** reminder *** */
    content: attr(data-text);
    position: absolute;
    right: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
}

/* Contant Box */
.contentBox h3{
    font-family: Font1;
}

#bold{
    font-weight: bolder;
    margin-top: 5px;
}

.contentBox p{
    font-size: 10px;
    text-align: right;
}

.img{
    width: 35%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% , 0%);
    z-index: 1;
}
