*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body,html{
    height: 100%;
    width: 100%;
}

/* main */
#main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #FFAC00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: main 3s;
}


/* #main h1 */
.kothicBig{
    font-size: 200px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffff;
    transform: rotate(-7deg);
    font-weight: 600;
}


/* #main h2 */
.scramble{
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-7deg) translate(-50%,-50%);
    color: #ffff;
}

/* #main Loader */
.loader{
    /* position: absolute;
    top: 65%;
    left: 50%; */
    /* transform: rotate(-7deg) translate(-50% , -50%); */
    transform: rotate(-7deg);
    width: 50%;
    height: 7px;
    border-radius: 5px;
    background-color: #ffff;
    margin-top: 20px;
}

.loader::after{
    background-color: purple;
    content: "";
    height: 7px;
    /* width: 50%; */
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    opacity: 0.7;
    animation: loaderAfter 3s;
}



@keyframes loaderAfter {
    0%{
        width: 0%;
        background-color: #a28089;
    }
    25%{
        width: 25%;
        background-color: #a02deb;
    }
    50%{
        width: 50%;
        background-color: #d0bdf4;
    }
    75%{
        width: 75%;
        background-color: #d2d2d2;
    }
    100%{
        width: 100%;
        background-color: #FFAC00;
    }
}



@keyframes main {
    0%{
        background-color: #a28089;
    }
    25%{
        background-color: #a02deb;
    }
    50%{
        background-color: #d0bdf4;
    }
    75%{
        background-color: #d2d2d2;
    }
    100%{
        background-color: #FFAC00;
    }
}